venv
deploy.zip
.env
dataset_md2md
trainingdata.txt
tokens.json
full_vocab.json
track_instance_types.sh
model_weights.pth*
*/model_weights*.pth
*/model_weights*.pth*
splits.json
commonality_map.json
*.pyc
exercises*.yml